/* COMMON */

html {
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

img {
    width: 100%;
    vertical-align: top;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.blue {
    color: #2485d5;
}

.ms_mb-5 {
    margin-bottom: 5em!important;
}

.ms_pr-1-5 {
    padding-right: 1.5%;
}

.ms_container {
    width: 92%;
    margin: 0 auto;
}

.ms_title {
    font-size: 2.3em;
    font-weight: 600;
}

.ms_btn {
    padding: 0.3em 0.7em;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 600;
}

.ms_active-img {
    border: 2px solid #2485d5;
    border-radius: 2rem;
    padding: 2px;
}

.ms_active-border {
    border-bottom: 3px solid #2485d5;
    border-radius: 4px;
    padding-bottom: 2.5em;
}

/* BOOTSTRAP-CHANGES */
.rounded {
    border-radius: 2rem!important;
}

.card {
    background-color: inherit;
    border: none;
}

.navbar-brand {
    padding-left: 1.5%;
    margin-right: 0;
}

.navbar-collapse {
    background-color: white;
}

/* HOVER */
.ms_btn:hover {
    outline: 2px solid;
    outline-color: #2485d5;
    outline-offset: 0.1em;
}

.ms_hover-header:hover .ms_chevron-a{
    display: none;
}

.ms_hover-header:hover .ms_chevron-b {
    display: inline;
}

.ms_hover-banner:hover {
    transform: translateY(-10px);
    transition-duration: 1s;
}

.ms_hover-img:hover {
    opacity: 100!important;
    border-bottom: 3px solid #2485d5;
    border-radius: 4px;
    padding-bottom: 2.5em;
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    background-color: white;
    height: 106px;
    width: 100%;
    z-index: 1;
}

.ms_header-wrapper-t {
    height: 30px;
    width: 100%;
    background-color: black;
}

.ms_header-img {
    height: 30px;
    width: 50%;
    margin: 0 0;
}

.ms_header-img img {
    width: 75px;
    vertical-align: middle;
}

.ms_header-wrapper-b {
    height: 76px;
    width: 100%;
}

.ms_header-wrapper-b .dropdown-toggle::after {
    display: none;
}

.ms_nav-img {
    text-align: end;
    width: 40px;
}

.ms_nav-img img {
    width: 25px;
}

.ms_chevron {
    width: 10px;
    vertical-align: middle;
}

.ms_chevron-b {
    display: none;
}

/* DROPDOWN */
.ms_dropdown-container {
    width: 100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background-color: white;
}

/* MAIN */
/* BANNER */
.ms_banner {
    padding-top: 106px;
    position: relative;
}

.ms_banner > img {
    height: 470px;
    object-fit: cover;
}

.ms_card {
    position: absolute;
    width: 290px;
    bottom: 10%;
    left: 5.2%;
}

.ms_banner-img {
    width: 70%;
}

/* PLAYSTATION-ACCESSORIES */
.ms_top-title {
    font-size: 0.8em;
    color: #2485d5;
    font-weight: 600;
    margin-bottom: 0;
}

.ms_subtitle {
    font-size: 1.1em;
    font-weight: 600;
    color: #757575;
}

/* BANNER-2 */
.ms_banner-2 {
    position: relative;
}

.ms_banner-2 > img {
    height: 670px;
    object-fit: cover;
}

/* NEW-RELEASES */
.ms_wrapper-nw {
    width: 100%;
    background-color: #1f1f1f;
}

/* PLAYSTATION-PLUS */
.ms_wrapper-pp {
    width: 100%;
    background-color: #bebcbb;
}

.ms_pp-logo {
    width: 50%;
    padding: 0 1rem;
    padding-top: 1rem;
}

.ms_pp-img {
    height: 100%;
}

.ms_subtitle-xs {
    font-size: 0.9em;
    font-weight: 500;
    color: #757575;
}

@media screen and (min-width: 768px) {
    .ms_pp-logo {
        width: 80%;
    }
    
}

/* PLAYSTATION-NOW */
.ms_wrapper-pn {
    width: 100%;
    background-color: #161c3b;
}

/* FOOTER */
footer {
    background-color: #00439c;
    width: 100%;
}

.ms_footer-img {
    width: 80px;
}

footer i {
    padding-right: 15px;
}

footer li {
    font-size: 0.9em;
    font-weight: 600;
    color: white;
}

footer  a {
    color: inherit;
}

.ms_footer-logo {
    width: 120px;
}

footer span {
    text-decoration: underline;
}